.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.searchField {
  display: block;
  width: 200px;
  height: 19px;
  border-radius: 4px;
}

.searchButton {
  cursor: pointer;
  padding: 5px 10px;
  background-color: gray;
  border-radius: 4px;
  color: white;
  outline: none;
  border: none;
  margin-left: 10px;
}
